body {
	margin: 0;
	padding: 0;
	background-color: #232323;
	font-family: 'Montserrat';
	font-weight: 400;
}

h1 {
	color: white;
	text-align: center;
	background-color: steelblue;
	margin: 0;
	text-transform: uppercase;
	line-height: 1.1;
	padding: 20px 0;
	font-weight: 400;
	transition: background .4s;
	-webkit-transition: background .4s;
	-moz-transition: background .4s;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all .4s;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	outline: none;
}

button:hover {
	color: white;
	background-color: steelblue;
}

#colorDisplay {
	font-size: 200%;
}

.container {
	overflow: hidden;
	max-width: 500px;
	margin: 10px auto;
}

#stripe {
	background-color: white;
	height: 30px;
	text-align: center;
	color: black;
}

.square {
	width: 30%;
	background-color: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background .4s;
	-webkit-transition: background .4s;
	-moz-transition: background .4s;
}

.squaresExtreme {
	width: 18%;
	background-color: purple;
	padding-bottom: 18%;
	float: left;
	margin: 0.996%;
	border-radius: 15%;
	transition: background .4s;
	-webkit-transition: background .4s;
	-moz-transition: background .4s;
}

#modes {
	display: inline;
}

.selected {
	background-color: steelblue;
	color: white;
}

#msg {
	display: inline-block;
	width: 20%;
}

@media (max-width: 600px) {

	#resetBtn {
		height: 45%;
	}

	#stripe {
		height: 90px;
	}

	#modes {
		display: block;
		margin-top: 10px;
		height: 45%;
	}

	#msg {
		width: 40%;
	}

	h1 {
		font-size: 1.5em;
	}
}

@media (max-width: 460px) {

	h1 {
		font-size: 1.1em;
	}
}