<!DOCTYPE html>
<html>
<head>
	<title>Auth Demo App</title>
</head>
<body>

	<h1>This is the secret page</h1>
	<p>You found me</p>
	<img src="https://lh6.googleusercontent.com/3UU1A2mPrxk2ajTHR4a54JG15M2gCyM4kARqVd0KYc9N72YkUZIGVuocTvnvgib41j0mx3d9z0x1x9eR9b4e=w1600-h769-rw">
	<a href="/register">Register</a>
	<a href="/login">Login</a>
	<a href="/logout">Logout</a>

</body>
</html>