.container.main {
	margin-top: 7em;
}

i.icon {
	font-size: 1.5em;
}

img {
	width: 100%;
}

.right {
	display: inline-block;
	float: right;
}

.left {
	display: inline-block;
	float: left;
}

.clearfix {
	overflow: hidden;
}

.utilities {
	margin-top: 1em;
}