<!DOCTYPE html>
<html>
<head>
	<title><% title %></title>
	<link rel="stylesheet" type="text/css" href="/app.css"> <!-- the "/" says to look for the file in the root directory -->
</head>
<body>